<%= form_for @blog_post, html: {role: 'form', class: 'form-horizontal'} do |f| %>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.text_field :title, class: 'form-control', placeholder: 'Title' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.cktext_area :content, rows: 10, class: 'form-control', placeholder: 'Start Date' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.submit 'Save', class: 'btn btn-primary' %>
      <%= link_to 'Back', :back, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
